<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="include/layout">
<th:block layout:fragment="page_head">
	<title>MEMBERSHIP</title>
</th:block>
<!-- page_lib와 page_css 는 위와 같이 추가하여 사용-->
<th:block layout:fragment="contents">
	<h1>MEMBERSHIP!</h1>
	<input type="text" name="cid" id="cid" />
	<button id="search">Search</button>
	<div id="result"></div>
</th:block>
<!-- page_js 필요하면 추가 -->
<th:block layout:fragment="page_js">
	<script>
		$(function() {
			$('#search').click(function() {
				var path = '/customer/' + $('#cid').val();
				console.log(path);
				$.ajax({
					type : 'GET',
					url : path,
					success : function(data) {
						/* console.log(data.type()); */
						$("#result").replaceWith(data);
					}
				});
			});
		});
	</script>
</th:block>
</html>