<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="include/head::head" />

<body>
	<div th:if="${session.user == null}">
		<p th:if="${error != null}" th:text="${error}"></p>
		<form action="/login" method="post">
			<input name="cid" type="text"></input> <input name="password"
				type="password"></input> <input type="submit" value="LOGIN">
		</form>
	</div>
	<div th:if="${session.user}">
		<a href="/logout">Logout</a>
	</div>
</body>
</html>